# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot

# Virtualenv
venv/
env/
ENV/
.venv/
.env/

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Sistema operacional
.DS_Store
Thumbs.db
